* {
    margin: o;
}
body {
     background-color: hsl(217, 54%, 11%);
}
#image-equilibrium {
    width: 200px;
    height: 320px;
    border-radius: 8px;
}
main {
    border: 1px solid black;
    border-radius: 11px;
    background: hsl(216, 50%, 16%);
    width: 270px;
    height: 450px;
    padding: 19px;
    box-shadow: 0px 5px 1px 7px hsla(0, 0%, 0%, 0.425); 
    margin: auto;
    margin-top: 7vh;
}
.attribution { 
    font-size: 11px; text-align: center;
 }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
h1 {
    color: hsl(0, 0%, 100%);
}
p {
    color: hsl(215, 51%, 70%) ;
}
section {
    display: flex;
    gap: 4px;
    align-items: center;
}
aside{
    
    color: hsl(178, 100%, 50%) ;
}
div {
    color:  hsl(215, 51%, 70%);
    
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

